Repository GreenBlitz/ReeeefScape2025-RobotCode, pull requests merged in 2025-02, with the labels that each got.

#52 Aim assist -> master
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssist.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#56 names
  src/main/java/frc/robot/superstructure/RobotState.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR

#61 Deadbands -> master
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#58 Superstructure -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/statemachine/Calibrations.md
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#60 Calib Poses
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#64 isAtPose -> master
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#63 pre elevator states -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR

#65 Get State -> master
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/ArmStateHandler.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStateHandler.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorStateHandler.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#66 Pre Score in Score Level -> get-state
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#59 RobotCommander -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/Calibrations.md
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#67 Nitay is popo
  src/main/java/frc/robot/IDs.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#68 Elevator motors names -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/calibrations.md
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#72 Fix coral station angles -> master
  src/main/java/frc/constants/field/Field.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#70 Rumble on Intake & Outtake -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
Labels: passed-all-tests, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#73 Open elevator after aim assists -> master
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#75 Arm calibrations -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#78 Numbersssssss -> master
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/endeffector/factory/EndEffectorSparkMaxBuilder.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#77 End Effector Calibrations -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffector.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorCommandsBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#69 Elevator Calibration Buttons -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#82 Side -> master
  src/main/java/frc/utils/pose/Side.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR

#80 Start: Robot Acceptation -> master
  src/main/java/frc/acceptation.md
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/calibration.md
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/calibrations.md
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#85 Template -> master
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/SimulationGyroBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/SimulationEncoderBuilder.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/utils/TimedValue.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, AUTONOMIM, POSE ESTIMATION, ROBOT, A-SMALL-PR

#90 Rio bus chain name -> master
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#89 Endeffector calib -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffector.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/endeffector/calibrations.md
  src/main/java/frc/robot/subsystems/endeffector/factory/EndEffectorSparkMaxBuilder.java
Labels: passed-all-tests, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#91 Calibrations -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmCommandsBuilder.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/calibration.md
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/elevator/calibrations.md
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#96 Fix arm -> master
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#97 Fix Elevator -> master
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#93 Add release speed to score level -> master
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#100 Require fix -> master
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, A-SMALL-PR

#98 Swerve calibration -> master
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/factories/constants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/Pigeon2GyroBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/KrakenX60DriveBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/KrakenX60SteerBuilder.java
  src/main/java/frc/robot/subsystems/swerve/module/calibrations.md
  src/main/java/frc/utils/calibration/swervecalibration/maxvelocityacceleration/MaxVelocityAccelerationCharacterization.java
  src/main/java/frc/utils/calibration/swervecalibration/maxvelocityacceleration/VelocityType.java
  src/main/java/frc/utils/calibration/swervecalibration/wheelradius/WheelRadiusCharacterization.java
  src/main/java/frc/utils/calibration/swervecalibration/wheelradius/WheelRadiusConstants.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#102 Clean drive to pose -> master
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#94 Add without_release states
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffector.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#105 Arm kP -> master
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
Labels: passed-all-tests, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#99 PoseEstimator V2.0 -> master
  src/main/java/frc/constants/VisionConstants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/poseestimator/IOdometryEstimator.java
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/OdometryData.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/poseestimator/helpers/DataAccumulator.java
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator/RobotHeadingEstimator.java
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator/RobotHeadingEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/observations/OdometryObservation.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/vision/GyroAngleValues.java
  src/main/java/frc/robot/vision/RobotAngleValues.java
  src/main/java/frc/robot/vision/VisionConstants.java
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/robot/vision/VisionUtils.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/multivisionsources/MultiVisionSources.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/RobotHeadingRequiringVisionSource.java
  src/main/java/frc/robot/vision/sources/VisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightFactory.java
  src/main/java/frc/utils/Filter.java
  src/main/java/frc/utils/TriFunction.java
  src/main/java/frc/utils/buffers/RingBuffer/RingBuffer.java
  src/main/java/frc/utils/buffers/RingBuffer/RingBufferIterator.java
  src/main/java/frc/utils/math/AngleMath.java
  src/main/java/frc/utils/math/AngleUnit.java
  src/main/java/frc/utils/math/PoseEstimationMath.java
  src/main/java/frc/utils/math/PoseMath.java
  src/main/java/frc/utils/math/StandardDeviations2D.java
  src/main/java/frc/utils/math/StandardDeviations3D.java
  src/main/java/frc/utils/math/StatisticsMath.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-BIG-PR

#108 Fix states -> master
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#109 Fixes -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#111 Fixes 2.0 -> master
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#110 Endeffector DefaultState -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffector.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorStateHandler.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#114 Delete half of the states code -> master
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
Labels: passed-all-tests, A-SMALL-PR

#115 Add a driver override for isCoralIn
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR

#124 Fix states -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#126 Endeffector offset -> master
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#107 HeadingEstimator fix -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#127 Drivers 15.2
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/constants/field/enums/Branch.java
  src/main/java/frc/constants/field/enums/ReefSide.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/ScoreLevel.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#132 limelight-right placement calibration -> master
  src/main/java/frc/robot/vision/VisionConstants.java
Labels: passed-all-tests, POSE ESTIMATION, A-SMALL-PR

#130 Button driver display -> master
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/scoringhelpers/ButtonDriverHelper.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#119 Better isReady and isAtPose
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, A-SMALL-PR

#131 Close superstructure after score
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#135 Close superstructure faster after score
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/vision/VisionConstants.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#81 Leds -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Util.java
  src/main/java/frc/robot/hardware/phoenix6/gyro/Pigeon2Wrapper.java
  src/main/java/frc/robot/hardware/phoenix6/leds/CANdleWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/motors/TalonFXWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/CANCoderEncoderBuilder.java
Labels: passed-all-tests, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#104 Auto Calibrations -> master
  src/main/deploy/pathplanner/paths/Rotate 2m.path
  src/main/deploy/pathplanner/paths/Rotate.path
  src/main/deploy/pathplanner/paths/Straight 2m.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/KrakenX60DriveBuilder.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
Labels: passed-all-tests, no-need-of-simulation-testing, AUTONOMIM, A-SMALL-PR

#139 Fix command end -> master
  src/main/java/frc/robot/subsystems/arm/ArmCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorCommandsBuilder.java
Labels: passed-all-tests, A-SMALL-PR

#133 Method for updating the HeadingEstimator of a gyro reset -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator/RobotHeadingEstimator.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#134 Fixed AprilTags logging -> master
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#145 Arm -> master
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#142 Fixes to odometry HeadingEstimator -> master
  src/main/java/frc/robot/Robot.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#150 fix
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
Labels: passed-all-tests, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#149 Robot commander default command
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#148 no collide reef. collide reef bad bad
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/endeffector/factory/EndEffectorSparkMaxBuilder.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#151 Fix isPreScoreReady -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#141 Solenoid -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/climb/solenoid/Solenoid.java
  src/main/java/frc/robot/subsystems/climb/solenoid/SolenoidCommandsBuilder.java
  src/main/java/frc/robot/subsystems/climb/solenoid/SolenoidState.java
  src/main/java/frc/robot/subsystems/climb/solenoid/SolenoidStateHandler.java
  src/main/java/frc/robot/subsystems/climb/solenoid/factory/SolenoidFactory.java
  src/main/java/frc/robot/subsystems/climb/solenoid/factory/SparkMaxSolenoidBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#155 fix for pos -> master
  src/main/java/frc/robot/Robot.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#156 Improving button driver display -> master
  src/main/java/frc/robot/scoringhelpers/ButtonDriverHelper.java
Labels: passed-all-tests, A-SMALL-PR

#160 Fix algae remove -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/constants/field/enums/AlgaeRemoveLevel.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#159 Flip paths -> master
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/scoringhelpers/ScoringPathsHelper.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#162 name
  src/main/java/frc/constants/field/enums/AlgaeRemoveLevel.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#163 Default command improvment -> master
  src/main/java/frc/RobotManager.java
Labels: passed-all-tests, no-need-of-robot-testing, AUTONOMIM, ROBOT, A-SMALL-PR

#164 Mid state -> master
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#143 Lifter -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/climb/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterCommandsBuilder.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterConstants.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterState.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterStateHandler.java
  src/main/java/frc/robot/subsystems/climb/lifter/factory/Falcon500LifterBuilder.java
  src/main/java/frc/robot/subsystems/climb/lifter/factory/LifterFactory.java
  src/main/java/frc/robot/subsystems/climb/lifter/factory/calibrations.md
  src/main/java/frc/robot/subsystems/climb/solenoid/Solenoid.java
Labels: passed-all-tests, A-SMALL-PR

#170 Fix algae remove -> master
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorStateHandler.java
Labels: passed-all-tests, A-SMALL-PR

#172 Reef func -> master
  src/main/java/frc/JoysticksBindings.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#171 Coral outtake and stay in place -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/ArmStateHandler.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStateHandler.java
Labels: passed-all-tests, A-SMALL-PR

#157 Net
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssist.java
Labels: passed-all-tests, A-SMALL-PR

#175 Comment out algae switch -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, A-SMALL-PR

#173 good good feeder aim assist
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/constants/field/enums/CoralStationSlot.java
  src/main/java/frc/constants/field/enums/CoralStationSlotsNumbers.png
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssist.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#168 Processor mtp -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
Labels: passed-all-tests, A-SMALL-PR

#176 ריל (feeder aim assist offset)
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#177 peocessor mtp fix -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, A-SMALL-PR

#180 Fixes -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#166 CLIMB CLIMB CLIMBBBBB (climb states + cage aim assist)
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/climb/ClimbConstants.java
  src/main/java/frc/robot/subsystems/climb/ClimbState.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
  src/main/java/frc/robot/subsystems/climb/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterState.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterStateHandler.java
  src/main/java/frc/robot/subsystems/climb/lifter/factory/Falcon500LifterBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssist.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#179 Heading estimator filters -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator/RobotHeadingEstimatorConstants.java
  src/main/java/frc/robot/vision/VisionConstants.java
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/data/LimeLightAprilTagVisionData.java
  src/main/java/frc/robot/vision/data/VisionData.java
  src/main/java/frc/robot/vision/sources/VisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/Filter.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#186 changing the HeadingEstimator max stdDev tolerance -> master
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator/RobotHeadingEstimatorConstants.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#189 Climb state -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#193 Close score
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/climb/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/climb/lifter/factory/Falcon500LifterBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#192 Drive after algae remove -> dis2
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#194 Pose changes made in dis2 -> master
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/vision/VisionConstants.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION
