Repository GreenBlitz/ReeeefScape2025-RobotCode, pull requests merged in 2025-06, with the labels that each got.

#304 Algae intake aim assist -> master
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssist.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#310 Auto Net
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssist.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#313 Steal algae -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: passed-all-tests, A-SMALL-PR

#321 Update workflow docker -> master
  .github/workflows/compile.yml
  .github/workflows/format.yml
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR

#322 Algae intake cleanup -> master
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/algaeIntake/rollers/Rollers.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR

#323 Better algae outtake -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#329 Andy mark field
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/constants/field/enums/FieldType.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/vision/VisionConstants.java
Labels: needs-simulation-testing, needs-robot-testing, ROBOT, A-SMALL-PR

#331 0.5 -> 0.3
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#332 Changes from ben -> master
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/algaeIntake/AlgaeIntakeState.java
  src/main/java/frc/robot/subsystems/algaeIntake/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/algaeIntake/rollers/RollersState.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
  src/main/java/frc/robot/subsystems/climb/solenoid/factory/SparkMaxSolenoidBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#336 code:
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#335 Rollers climb -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/algaeIntake/AlgaeIntakeState.java
  src/main/java/frc/robot/subsystems/algaeIntake/rollers/RollersState.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#338 Auto testing 26.6
  src/main/deploy/pathplanner/paths/ARD-LN.path
  src/main/deploy/pathplanner/paths/CLN-LFA.path
  src/main/deploy/pathplanner/paths/LFA-CRN.path
  src/main/deploy/pathplanner/paths/LN-RFA.path
  src/main/deploy/pathplanner/paths/RFA-CLN.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
  src/main/java/frc/robot/autonomous/PathFollowingCommandsBuilder.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/algaeIntake/AlgaeIntakeConstants.java
  src/main/java/frc/robot/subsystems/algaeIntake/AlgaeIntakeStateHandler.java
  src/main/java/frc/robot/subsystems/algaeIntake/pivot/Factory/TalonFXPivotBuilder.java
  src/main/java/frc/robot/subsystems/algaeIntake/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/utils/auto/AutoPath.java
  src/main/java/frc/utils/math/FieldMath.java
Labels: needs-simulation-testing, needs-robot-testing, A-BIG-PR
