Repository GreenBlitz/ReeeefScape2025-RobotCode, pull requests merged in 2025-03, with the labels that each got.

#196 Fixes dis2 -> dis2
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/constants/GlobalConstants.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
  src/main/java/frc/robot/subsystems/climb/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: needs-simulation-testing, needs-robot-testing, A-BIG-PR

#191 Dis2
  src/main/deploy/pathplanner/paths/A-LS1.path
  src/main/deploy/pathplanner/paths/A-LS2.path
  src/main/deploy/pathplanner/paths/A-US2.path
  src/main/deploy/pathplanner/paths/B-LS1.path
  src/main/deploy/pathplanner/paths/B-LS2.path
  src/main/deploy/pathplanner/paths/B-US2.path
  src/main/deploy/pathplanner/paths/C-LS1.path
  src/main/deploy/pathplanner/paths/C-LS2.path
  src/main/deploy/pathplanner/paths/D-LS1.path
  src/main/deploy/pathplanner/paths/D-LS2.path
  src/main/deploy/pathplanner/paths/E-LS1.path
  src/main/deploy/pathplanner/paths/E-LS2.path
  src/main/deploy/pathplanner/paths/F-LS1.path
  src/main/deploy/pathplanner/paths/F-LS2.path
  src/main/deploy/pathplanner/paths/G-LS1.path
  src/main/deploy/pathplanner/paths/G-LS2.path
  src/main/deploy/pathplanner/paths/H-US2.path
  src/main/deploy/pathplanner/paths/I-US2.path
  src/main/deploy/pathplanner/paths/J-US2.path
  src/main/deploy/pathplanner/paths/K-US2.path
  src/main/deploy/pathplanner/paths/L-US2.path
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssist.java
  src/main/java/frc/robot/vision/VisionConstants.java
Labels: passed-all-tests, A-SMALL-PR

#198 clean
  src/main/java/frc/robot/statemachine/RobotCommander.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#202 gc fixes -> master
  build.gradle
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/utils/battery/BatteryUtil.java
Labels: passed-all-tests, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#200 Fix for LimeLight API breakage
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR

#205 Changing Button Driver Bindings -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/scoringhelpers/ButtonDriverHelper.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#201 Vision filter for when yaw is 0 -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/vision/VisionConstants.java
  src/main/java/frc/robot/vision/VisionFilters.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#206 Tag Ignoring -> master
  src/main/java/frc/robot/vision/VisionFilters.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#208 Limelight Feeder -> master
  src/main/java/frc/robot/vision/VisionConstants.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#211 remove two stage algae remove close -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/constants/field/enums/AlgaeRemoveLevel.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#197 Mm
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/hardware/interfaces/IDynamicMotionMagicRequest.java
  src/main/java/frc/robot/hardware/interfaces/IMotionMagicRequest.java
  src/main/java/frc/robot/hardware/phoenix6/motors/TalonFXMotor.java
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6DynamicMotionMagicRequest.java
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6MotionMagicRequest.java
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6RequestBuilder.java
  src/main/java/frc/robot/subsystems/arm/ArmCommandsBuilder.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#210 Add canivore -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#203 Clean autonomous auto score
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/utils/auto/PathPlannerAutoWrapper.java
Labels: passed-all-tests, no-need-of-robot-testing, AUTONOMIM, A-SMALL-PR

#213 yoav - workin
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#207 Simple auto chooser
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing, AUTONOMIM, A-SMALL-PR

#215 Closest with speeds -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#216 Add dmm support -> master
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmCommandsBuilder.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/ArmStateHandler.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStateHandler.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#212 Choose when to construct the auto
  src/main/java/frc/RobotManager.java
Labels: passed-all-tests, no-need-of-robot-testing, AUTONOMIM, A-SMALL-PR

#218 Default auto -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: passed-all-tests, A-SMALL-PR

#225 Climb -> master
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/climb/ClimbConstants.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterConstants.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#226 Fix comments -> test
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#227 ele
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#219 Auto score calib -> master
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
  src/main/java/frc/robot/subsystems/endeffector/factory/EndEffectorSparkMaxBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#230 Processor -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#231 make close after score work
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#232 Climb AA -> master
  src/main/java/frc/robot/statemachine/RobotCommander.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#233 Comparing EstimatedHeading at timestamp -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator/RobotHeadingEstimator.java
  src/main/java/frc/robot/vision/VisionFilters.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#235 Hold power -> master
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorStateHandler.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#239 Driver preactice 7 3
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#209 Better net -> master
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: needs-simulation-testing, needs-robot-testing, ROBOT, A-SMALL-PR

#242 Simulation Alliance -> master
  src/main/java/frc/constants/GlobalConstants.java
  src/main/java/frc/utils/DriverStationUtil.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#243 Dis3 auto (no delay, pre generated) -> master
  src/main/deploy/pathplanner/paths/LS2-C.path
  src/main/deploy/pathplanner/paths/LS2-D.path
  src/main/deploy/pathplanner/paths/US2-K.path
  src/main/deploy/pathplanner/paths/US2-L.path
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
  src/main/java/frc/robot/led/LEDConstants.java
  src/main/java/frc/robot/led/LEDState.java
  src/main/java/frc/robot/led/LEDStateHandler.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/climb/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/vision/VisionConstants.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/auto/AutonomousChooser.java
Labels: needs-simulation-testing, needs-robot-testing, AUTONOMIM, A-BIG-PR

#222 Led state handler
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/led/LEDConstants.java
  src/main/java/frc/robot/led/LEDState.java
  src/main/java/frc/robot/led/LEDStateHandler.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#245 Hold Algae -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#256 log acc
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/Pigeon2GyroBuilder.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#251 Better CAN usage -> master
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/Pigeon2GyroBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/KrakenX60DriveBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/KrakenX60SteerBuilder.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#254 Torque Current -> master
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6RequestBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/KrakenX60DriveBuilder.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/records/DriveRequests.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR

#258 Better signals usage -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/climb/lifter/factory/Falcon500LifterBuilder.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/Pigeon2GyroBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/KrakenX60DriveBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/CANCoderEncoderBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/KrakenX60SteerBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#263 Remove arm offset -> master
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#268 Fix odometry fix -> master
  build.gradle
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/led/LEDStateHandler.java
  src/main/java/frc/robot/poseestimator/IOdometryEstimator.java
  src/main/java/frc/robot/poseestimator/OdometryData.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
Labels: passed-all-tests, POSE ESTIMATION, ROBOT, A-SMALL-PR

#267 code
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
  src/main/java/frc/robot/subsystems/swerve/ChassisPowers.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/utils/calibration/swervecalibration/maxvelocityacceleration/MaxVelocityAccelerationCharacterization.java
Labels: passed-all-tests, A-SMALL-PR

#260 Soft close -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/ArmStateHandler.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStateHandler.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#249 Recalibrated the front cameras poses -> master
  src/main/java/frc/robot/vision/VisionConstants.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, A-SMALL-PR

#270 Cycle time -> master
  build.gradle
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
  src/main/java/frc/robot/hardware/interfaces/InputSignal.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/poseestimator/IOdometryEstimator.java
  src/main/java/frc/robot/poseestimator/OdometryData.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator/RobotHeadingEstimator.java
  src/main/java/frc/robot/subsystems/GBSubsystem.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmInputs.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorInputs.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffector.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorInputs.java
  src/main/java/frc/robot/subsystems/swerve/ChassisPowers.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/SimulationGyroBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/SimulationEncoderBuilder.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleIOInputs.java
  src/main/java/frc/utils/TimedValue.java
  src/main/java/frc/utils/calibration/swervecalibration/maxvelocityacceleration/MaxVelocityAccelerationCharacterization.java
Labels: passed-all-tests, A-MEDIUM-PR

#271 No delay
  src/main/java/frc/RobotManager.java
Labels: passed-all-tests, AUTONOMIM, ROBOT, A-SMALL-PR

#262 Coral Interpolation -> master
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmCommandsBuilder.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/ArmStateHandler.java
  src/main/java/frc/utils/InterpolationMap.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#272 Log PP
  src/main/java/frc/RobotManager.java
  src/main/java/frc/utils/auto/PathPlannerUtil.java
Labels: passed-all-tests, no-need-of-robot-testing, AUTONOMIM, A-SMALL-PR

#275 Is at pose logs -> master
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#252 Auto Cancel to Disable Init -> master
  src/main/java/frc/RobotManager.java
Labels: passed-all-tests, no-need-of-robot-testing, A-SMALL-PR

#265 Leds for dcmp
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/led/LEDState.java
  src/main/java/frc/robot/led/LEDStateHandler.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#278 Fix constants
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/RobotConstants.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, AUTONOMIM, A-SMALL-PR

#280 Arm fix, Interpolation calib -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/led/LEDStateHandler.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#281 add endeffector offset to algae remove
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#282 Interpolation Calibration -> master
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#285 Fix from drivers -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
Labels: passed-all-tests, A-SMALL-PR

#277 Net & Auto fixes -> master
  src/main/deploy/pathplanner/autos/Left Demo.auto
  src/main/deploy/pathplanner/paths/AL1-I.path
  src/main/deploy/pathplanner/paths/AL1-J.path
  src/main/deploy/pathplanner/paths/AL1-K.path
  src/main/deploy/pathplanner/paths/AL2-I.path
  src/main/deploy/pathplanner/paths/AL2-J.path
  src/main/deploy/pathplanner/paths/AL2-K.path
  src/main/deploy/pathplanner/paths/AL3-I.path
  src/main/deploy/pathplanner/paths/AL3-J.path
  src/main/deploy/pathplanner/paths/AL4-I.path
  src/main/deploy/pathplanner/paths/AL5-I.path
  src/main/deploy/pathplanner/paths/I-US2.path
  src/main/deploy/pathplanner/paths/J-US2.path
  src/main/deploy/pathplanner/paths/K-US2.path
  src/main/deploy/pathplanner/paths/L-US2.path
  src/main/deploy/pathplanner/paths/LS2-D.path
  src/main/deploy/pathplanner/paths/US1-I.path
  src/main/deploy/pathplanner/paths/US1-J.path
  src/main/deploy/pathplanner/paths/US1-K.path
  src/main/deploy/pathplanner/paths/US1-L.path
  src/main/deploy/pathplanner/paths/US2-I.path
  src/main/deploy/pathplanner/paths/US2-J.path
  src/main/deploy/pathplanner/paths/US2-K.path
  src/main/deploy/pathplanner/paths/US2-L.path
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/StateMachineConstants.java
  src/main/java/frc/robot/statemachine/Tolerances.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/vision/VisionConstants.java
Labels: passed-all-tests, AUTONOMIM, ROBOT, A-MEDIUM-PR

#244 Lifter Limit Switch ➥ master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/climb/ClimbState.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
  src/main/java/frc/robot/subsystems/climb/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/climb/lifter/factory/Falcon500LifterBuilder.java
  src/main/java/frc/robot/subsystems/climb/solenoid/Solenoid.java
  src/main/java/frc/robot/subsystems/climb/solenoid/SolenoidStateHandler.java
  src/main/java/frc/robot/subsystems/climb/solenoid/factory/SparkMaxSolenoidBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#257 Exit climb -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/statemachine/RobotCommander.java
  src/main/java/frc/robot/statemachine/RobotState.java
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
  src/main/java/frc/robot/statemachine/superstructure/SuperstructureState.java
  src/main/java/frc/robot/subsystems/climb/ClimbState.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#290 better l2 -> master
  src/main/java/frc/robot/subsystems/arm/ArmState.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#296 Fix climb -> master
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/led/LEDConstants.java
  src/main/java/frc/robot/led/LEDState.java
  src/main/java/frc/robot/subsystems/climb/ClimbStateHandler.java
  src/main/java/frc/robot/subsystems/climb/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterConstants.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterState.java
  src/main/java/frc/robot/subsystems/climb/lifter/LifterStateHandler.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#297 change swerve signals and requests from canivore constant to default constant -> master
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/Pigeon2GyroBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/KrakenX60DriveBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/KrakenX60SteerBuilder.java
Labels: passed-all-tests, ROBOT, A-SMALL-PR

#298 elevator no move
  src/main/java/frc/robot/statemachine/superstructure/Superstructure.java
Labels: needs-simulation-testing, needs-robot-testing, A-SMALL-PR
