Repository GreenBlitz/ReeeefScape2025-RobotCode, pull requests merged in 2025-01, with the labels that each got.

#1 Field -> master
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/constants/field/enums/CagePosition.java
  src/main/java/frc/constants/field/enums/CoralStationPosition.java
  src/main/java/frc/constants/field/enums/ReefBranch.java
  src/main/java/frc/constants/field/enums/ReefBranch.png
  src/main/java/frc/constants/field/enums/ReefSide.java
  src/main/java/frc/constants/field/enums/ReefSide.png
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencyAndSlopeSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
  src/main/java/frc/utils/math/AngleTransform.java
  src/main/java/frc/utils/math/AngleUnit.java
  src/main/java/frc/utils/math/FieldMath.java
  src/main/java/frc/utils/math/MirrorMath.java
  src/main/java/frc/utils/math/PoseMath.java
Labels: passed-all-tests, no-need-of-robot-testing

#14 Merge Template -> master
  src/main/java/frc/acceptation.md
  src/main/java/frc/constants/field/FieldCalibrations.md
  src/main/java/frc/constants/field/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/module/calibrations.md
Labels: passed-all-tests

#15 Calib markdown
  src/main/java/frc/constants/field/calibrations.md
Labels: no-need-of-robot-testing, no-need-of-simulation-testing

#17 Update
  src/main/java/frc/Acceptation.md
  src/main/java/frc/robot/subsystems/swerve/Calibrations.md
  src/main/java/frc/robot/subsystems/swerve/module/Calibrations.md
Labels: no-need-of-robot-testing, no-need-of-simulation-testing

#6 End-Effector subsystem -> Master
  src/main/java/frc/acceptation.md
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/endEffector/EndEffector.java
  src/main/java/frc/robot/subsystems/endEffector/EndEffectorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/endEffector/EndEffectorConstants.java
  src/main/java/frc/robot/subsystems/endEffector/calibrations.md
  src/main/java/frc/robot/subsystems/endEffector/factory/EndEffectorFactory.java
  src/main/java/frc/robot/subsystems/endEffector/factory/EndEffectorSparkMaxBuilder.java
  src/main/java/frc/robot/subsystems/endEffector/factory/LimitSwitchPort.java
  src/main/java/frc/robot/subsystems/swerve/module/calibrations.md
Labels: passed-all-tests, ROBOT

#19 fix names and logs
  src/main/java/frc/robot/subsystems/GBSubsystem.java
  src/main/java/frc/robot/subsystems/endEffector/EndEffector.java
  src/main/java/frc/robot/subsystems/endEffector/EndEffectorConstants.java
  src/main/java/frc/robot/subsystems/endEffector/factory/EndEffectorSparkMaxBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing

#18 Elevator -> master
  src/main/java/frc/acceptation.md
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/calibrations.md
  src/main/java/frc/robot/subsystems/elevator/factory/ElevatorFactory.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
  src/main/java/frc/robot/subsystems/elevator/records/ElevatorMotorSignals.java
Labels: passed-all-tests, ROBOT

#2 Elevator Records -> master
  src/main/java/frc/robot/subsystems/elevator/records/ElevatorMotorSignals.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#20 Update
  build.gradle
  src/main/java/frc/joysticks/SmartJoystick.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
  src/main/java/frc/utils/alerts/Alert.java
  src/main/java/frc/utils/auto/PathPlannerUtils.java
  src/main/java/frc/utils/battery/BatteryConstants.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/logger/LoggerFactory.java
  src/main/java/frc/utils/time/TimeConstants.java
  src/main/java/frc/utils/time/TimeUtils.java
  vendordeps/AdvantageKit.json
  vendordeps/Phoenix6.json
Labels: needs-simulation-testing, needs-robot-testing

#22 made end effector factory get log path -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/endEffector/EndEffectorConstants.java
  src/main/java/frc/robot/subsystems/endEffector/factory/EndEffectorFactory.java
  src/main/java/frc/robot/subsystems/endEffector/factory/LimitSwitchPort.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffector.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/endeffector/calibrations.md
  src/main/java/frc/robot/subsystems/endeffector/factory/EndEffectorFactory.java
  src/main/java/frc/robot/subsystems/endeffector/factory/EndEffectorSparkMaxBuilder.java
  src/main/java/frc/robot/subsystems/endeffector/factory/LimitSwitchPort.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#25 Merge template
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
Labels: needs-simulation-testing, needs-robot-testing

#24 Elevator simulation -> master
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorSimulationHelper.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing

#3 Elevator States -> master
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorState.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStateHandler.java
  src/main/java/frc/robot/subsystems/elevator/calibrations.md
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT

#30 Add subsystem to brake state manager -> master
  src/main/java/frc/robot/Robot.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT

#29 Fix pdp id -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/RobotConstants.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT

#36 Update With Template -> master
  src/main/java/frc/constants/VisionConstants.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
  src/main/java/frc/robot/vision/GyroAngleValues.java
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/RobotHeadingRequiringVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightFactory.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightPoseEstimationMethod.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/Filter.java
  src/main/java/frc/utils/math/StandardDeviations2D.java
  src/main/java/frc/utils/math/StandardDeviations3D.java
  src/main/java/frc/utils/pose/PoseUtils.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION, ROBOT

#37 Mdm
  src/main/java/frc/robot/subsystems/swerve/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/module/calibrations.md
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#21 Arm -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmCommandsBuilder.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/arm/calibration.md
  src/main/java/frc/robot/subsystems/arm/factory/ArmFactory.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffector.java
Labels: passed-all-tests, ROBOT

#39 Order Robot -> master
  src/main/java/frc/robot/Robot.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#12 End effector states -> master
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorState.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorStateHandler.java
Labels: passed-all-tests, ROBOT

#26 Arm States -> master
  src/main/java/frc/acceptation.md
  src/main/java/frc/robot/subsystems/arm/ArmState.java
  src/main/java/frc/robot/subsystems/arm/ArmStateHandler.java
Labels: passed-all-tests, ROBOT

#40 change arm soft limit
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#38 Swerve Factory -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
  src/main/java/frc/robot/subsystems/endeffector/factory/EndEffectorSparkMaxBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/SwerveConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/SimulationGyroBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleSpecificConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/SimulationModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/KrakenX60DriveBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/SimulationEncoderBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/KrakenX60SteerBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
  src/main/java/frc/utils/battery/BatteryUtils.java
Labels: passed-all-tests, ROBOT

#41 Calibrate simulation elevator -> master
  src/main/java/frc/robot/subsystems/elevator/factory/KrakenX60ElevatorBuilder.java
Labels: needs-simulation-testing, needs-robot-testing

#43 Template
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/battery/PowerDistributionDeviceID.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing

#44 Calib Sim Arm -> master
  src/main/java/frc/robot/subsystems/arm/factory/KrakenX60ArmBuilder.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT

#42 Swerve Control -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/subsystems/swerve/ChassisPowers.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT

#45 Scoring Pose -> master
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/constants/field/enums/ReefBranch.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
Labels: passed-all-tests, no-need-of-robot-testing, ROBOT, A-SMALL-PR

#47 Template
  src/main/java/frc/RobotManager.java
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/ElevatorSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/FlywheelSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/SimpleMotorSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/SingleJointedArmSimulation.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Util.java
  src/main/java/frc/robot/hardware/phoenix6/gyro/Pigeon2Wrapper.java
  src/main/java/frc/robot/hardware/phoenix6/motors/TalonFXWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/motors/simulation/TalonFXSimulation.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/robot/hardware/rev/REVUtil.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
  src/main/java/frc/robot/hardware/rev/motors/simulation/SparkMaxSimulation.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/SimulationGyroBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleSpecificConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/SimulationModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/SimulationEncoderBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtil.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
  src/main/java/frc/robot/subsystems/swerve/states/DriveRelative.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/DriverStationUtil.java
  src/main/java/frc/utils/alerts/Alert.java
  src/main/java/frc/utils/auto/PathPlannerUtil.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtil.java
  src/main/java/frc/utils/pose/PoseUtil.java
  src/main/java/frc/utils/time/TimeConstants.java
  src/main/java/frc/utils/time/TimeUtil.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#51 Names Of Field Objects -> master
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/constants/field/enums/Branch.java
  src/main/java/frc/constants/field/enums/BranchesOnReef.png
  src/main/java/frc/constants/field/enums/Cage.java
  src/main/java/frc/constants/field/enums/CoralStation.java
  src/main/java/frc/constants/field/enums/ReefSidesOnReef.png
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, A-SMALL-PR

#49 Robot State -> master
  src/main/java/frc/robot/superstructure/RobotState.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR

#53 Field Names -> master
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/scoringhelpers/ScoringHelpers.java
Labels: no-need-of-robot-testing, no-need-of-simulation-testing, A-SMALL-PR
